<!-- quote-form1.html -->
<style>
     .form-group{
       -webkit-column-count: 2;
     }
</style>

<label>Discovery</label>
<div class="form-group">
   <label>Name</label>
    <input type="text" class="form-control" name="name" ng-model="formData.name">
    <label>Desired Start Date</label>
    <input type="text" class="form-control" name="start" ng-model="formData.startDate">
 </div>
<div class="form-group">
    <label>Spreadsheet Completion Date</label>
    <input type="text" class="form-control" name="completed" ng-model="formData.completionDate">
    <label>Model</label>
    <input type="text" class="form-control" name="completed" ng-model="formData.model">
</div>
    <label>Additional Development Environment</label>
    <input type="text" class="form-control" name="completed" ng-model="formData.DevEnvironment">

<br>
 <a ui-sref="quote.form2" class="btn btn-block btn-primary">
    NEXT <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>
