<!-- quote-home.html -->

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">WHAT WOULD YOU LIKE TO DO?</div>
        <div class="panel-body">
            <div class="row col-lg-4 col-lg-offset-4">
                <a ui-sref="quote.form1" class="btn btn-block btn-primary">
                    Generate New Quote <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
                <br />
                <a class="btn btn-block btn-primary">
                    View Existing Quotes <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>