<!-- quote-form1.html -->

<style>
     .form-group {
       -webkit-column-count: 2;
     }
</style>

<label class="large-label">Discovery</label>
<br /> <br />

<form name="quoteForm1">
    <div class="form-group">
       <label>Name</label>
        <input type="text" class="form-control" name="name" ng-model="formData.name">
        <label>Desired Start Date</label>
        <input type="text" class="form-control" name="startDate" ng-model="formData.startDate">
     </div>
    <div class="form-group">
        <label>Quote Completion Date</label>
        <input type="text" class="form-control" name="completionDate" ng-model="formData.completionDate">
        <label>Model</label><br>
        <select name="model" ng-model="formData.model" class="select-box">
            <option>IaaS</option>
            <option>On-Premise</option>
        </select>
    </div>
    <label>Additional Development Environment</label>
    <br>
    <select name="additionalEnvironment" ng-model="formData.additionalEnvironment" class="select-box">
        <option>YES</option>
        <option>NO</option>
    </select>
</form>

<br />
<br />

<a ui-sref="quote.form2" class="btn btn-block btn-primary">
    NEXT <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>