<!-- quote-form4.html -->

<style>
    .form-group{
        -webkit-column-count: 2;
    }
</style>

<form name="quoteForm4">
    <label class="large-label">Training</label>
    <br />
    <select name="training" ng-model="formData.training" class="select-box">
        <option>YES</option>
        <option>NO</option>
    </select>
    <br />
    <br />
    <div class="form-group">
        <label>Basic Training</label>
        <select name="basicTraining" ng-model="formData.basicTraining" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
        <label>Advanced Training</label>
        <select name="advancedTraining" ng-model="formData.advancedTraining" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
    </div>

    <div class="form-group">
        <label>Kiosk UI Training</label>
        <br>
        <select name="kioskTraining" ng-model="formData.kioskTraining" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
        <label>Pin Reset UI Training</label>
        <select name="pinTraining" ng-model="formData.pinTraining" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
    </div>

    <div class="form-group">
        <label>Help Desk UI Training</label>
        <select name="helpDeskTraining" ng-model="formData.helpDeskTraining" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
        <label>Self Service Access Management UI Training</label>
        <select name="selectServiceTraining" ng-model="formData.selectServiceTraining" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
    </div>

    <div class="form-group">
        <label>HPAM UI Training </label>
        <select name="hpamTraining" ng-model="formData.hpamTraining" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
        <label>Federation Configuration Testing</label>
        <select name="federationConfigTraining" ng-model="formData.federationConfigTraining" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
    </div>

    <label>Percentage of Solution Requirements Unknown</label>
    <input type="text" class="form-control" name="percentage" ng-model="formData.percentage">
</form>

<br />

<a ui-sref="quote.form3" class="btn btn-block btn-primary">
    SUBMIT<span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>