<!-- quote-form3.html -->

<style>
    .form-group{
        -webkit-column-count: 2;
        -webkit-font-size:small;
    }
</style>

<label class="large-label">Solution Specifics</label>
<br /> <br />

<form name="quoteForm3">
    <div class="form-group">
        <label>Number of Initiation Points</label>
        <input type="text" class="form-control" name="initiationPoints" ng-model="formData.initiationPoints">
        <label>Number of Password Management Targets</label>
        <input type="text" class="form-control" name="passTargets" ng-model="formData.passTargets">
    </div>

    <div class="form-group">
        <label>Number of Admin Provisioning Targets</label>
        <input type="text" class="form-control" name="adminTargets" ng-model="formData.adminTargets">
        <label>Number of Workflows Per Targer</label>
        <input type="text" class="form-control" name="workflowTargets" ng-model="formData.workflowTargets">
    </div>

    <div class="form-group">
        <label>Number of Automated Provisioning Target</label>
        <input type="text" class="form-control" name="automatedTargets" ng-model="formData.automatedTargets">
        <label>Number of Automated Workflows Per Target</label>
        <input type="text" class="form-control" name="automatedWorkflows" ng-model="formData.automatedWorkflows">
    </div>

    <div class="form-group">
        <label>Number of HPAM Account Types</label>
        <input type="text" class="form-control" name="hpamAccountTypes" ng-model="formData.hpamAccountTypes">
        <label>Unique Connected System Definitions(Total)</label>
        <input type="text" class="form-control" name="uniqueDefinitions" ng-model="formData.uniqueDefinitions">
    </div>

    <div class="form-group">
        <label>Approval Configurations</label>
        <input type="text" class="form-control" name="approvalConfiguration" ng-model="formData.approvalConfiguration">
        <label>Selectable Resources</label>
        <input type="text" class="form-control" name="selectableResource" ng-model="formData.selectableResource">
    </div>

    <div class="form-group">
        <label>Resource Group Configurations</label>
        <input type="text" class="form-control" name="resourceGroupConfigs" ng-model="formData.resourceGroupConfigs">
        <label>Policies</label>
        <input type="text" class="form-control" name="policies" ng-model="formData.policies">
    </div>

    <div class="form-group">
        <label>Organizations</label>
        <input type="text" class="form-control" name="organizations" ng-model="formData.organizations">
        <label>IdP on Premise or IaaS</label>
        <input type="text" class="form-control" name="idpOrIaas" ng-model="formData.idpOrIaas">
    </div>

    <div class="form-group">
        <label>Number of IdPs</label>
        <input type="text" class="form-control" name="numOfIdp" ng-model="formData.numOfIdp">
        <label>Shibboleth SPs to Shibbolize Apps</label>
        <input type="text" class="form-control" name="shibboleth" ng-model="formData.shibboleth">
    </div>

    <div class="form-group">
        <label>Discovery Services</label>
        <input type="text" class="form-control" name="discoveryServ" ng-model="formData.discoveryServ">
        <label>SAML enabled Federation Targets</label>
        <input type="text" class="form-control" name="fedTargets" ng-model="formData.fedTargets">
    </div>

    <div class="form-group">
        <label>Verified SFL FT</label>
        <input type="text" class="form-control" name="verifiedSfl" ng-model="formData.verifiedSfl">
        <label>Non Verified SFL</label>
        <input type="text" class="form-control" name="nonVerifiedSfl" ng-model="formData.nonVerifiedSfl">
    </div>

    <div class="form-group">
        <label>Attribute Management Processes</label>
        <input type="text" class="form-control" name="attManProccess" ng-model="formData.attManProccess">
        <label>On-Going Attribute Management Processes</label>
        <input type="text" class="form-control" name="onGoingAttManProccess" ng-model="formData.onGoingAttManProccess">
    </div>

    <div class="form-group">
        <label>Post Implementation Services</label>
        <select name="postImpServices" ng-model="formData.postImpServices" class="select-box">
            <option>YES</option>
            <option>NO</option>
        </select>
        <label>User Account Load</label>
        <select name="userAccountLoad" ng-model="formData.userAccountLoad" class="select-box">
            <option>NONE</option>
            <option>CUSTOM</option>
            <option>SIMPLE</option>
        </select>
    </div>
</form>

<a ui-sref="quote.form4" class="btn btn-block btn-primary">
    NEXT <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>